<section>
  <form
    #newPhotoForm="ngForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    (submit)="onUploadPhoto(newPhotoForm)"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        name="caption"
        ngModel
        #caption="ngModel"
        placeholder="Enter caption..."
        required
      />
      <mat-error *ngIf="caption.invalid">No caption is entered</mat-error>
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        type="button"
        (click)="photo.click()"
        color="accent"
      >
        Choose Photo
      </button>
      <input
        type="file"
        hidden
        ngModel
        #photo
        name="photo"
        (change)="onPhotoSelected($event)"
      />
    </div>
    <button
      class="submit-btn"
      type="submit"
      mat-raised-button
      color="primary"
      fxLayout="column"
      fxLayoutAlign="end center"
    >
      Add photo to collection
    </button>
  </form>
</section>
